{% extends 'base.html' %}
{% block content %}
<h1>Found out</h1>
<div class="container">
    <div class="row">
      {% for job in jobs %}
        <div class="col-md-4">
          <div class="card" >
            <div class="card-body">
              <h5 class="card-title">{{ job.title }}</h5>
              <p class="card-text">{{ job.company }}</p>
              <a href="{{ url_for('job_detail', job_id=job.id) }}" class="btn btn-primary">Go to detail</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}